<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,user-scalable=no,minimal-ui">
    <title>城科餐厅</title>
    <link rel="icon" href="./../images/favico.ico">
    <!--不同屏幕尺寸根字体设置-->
    <script src="./../js/base.js"></script>
    <!--element-ui的样式-->
    <link rel="stylesheet" href="../../backend/plugins/element-ui/index.css" />
    <!--引入vant样式-->
    <link rel="stylesheet" href="../styles/vant.min.css"/>
    <!-- 引入样式  -->
    <link rel="stylesheet" href="../styles/index.css" />
    <!--本页面内容的样式-->
    <link rel="stylesheet" href="./../styles/user-edit.css" />
</head>
<body>
<div id="user_edit" class="app">
    <div class="divHead">
        <div class="divTitle">
            <i class="el-icon-arrow-left" @click="goBack"></i>{{title}}
        </div>
    </div>
    <div class="divContent">

        <div class="divItem">
            <span>用户名：</span>
            <el-input
                    v-model="form.name"
                    maxlength='10'
            /></el-input>

        </div>

        <div class="divItem">
             <span
                     class="spanChecked"
                     @click="form.sex = '1'">
                    <i :class="{iActive:form.sex === '1'}"></i>
                    先生
                   </span>
            <span class="spanChecked" @click="form.sex = '0'">
                    <i :class="{iActive:form.sex === '0'}"></i>
                    女士
                </span>
        </div>

        <div class="divItem">
            <span>身份证号：</span>
            <el-input
                    v-model="form.idNumber"
                    maxlength='20'
            /></el-input>
        </div>
        <div class="divItem" prop="region">
            <span>头像上传：</span>
            <el-upload class="avatar-uploader"
                       action="/common/upload"
                       :show-file-list="false"
                       :on-success="handleAvatarSuccess"
                       :before-upload="beforeUpload"
                       ref="upload">
                <img v-if="imageUrl" :src="imageUrl" class="avatar"></img>
                <i v-else class="el-icon-plus avatar-uploader-icon"></i>
            </el-upload>
        </div>

        <div class="divSave" @click="saveUser">保存信息</div>
    </div>
</div>
<!-- 开发环境版本,包含了有帮助的命令行警告 -->
<script src="../../backend/plugins/vue/vue.js"></script>
<!-- 引入组件库 -->
<script src="../../backend/plugins/element-ui/index.js"></script>
<!-- 引入vant样式 -->
<script src="./../js/vant.min.js"></script>
<script src="./../js/common.js"></script>
<script src="./../api/address.js"></script>
<!-- 引入axios -->
<script src="../../backend/plugins/axios/axios.min.js"></script>
<script src="./../api/user-edit.js"></script>
<script src="./../js/request.js"></script>
<script src="../../backend/js/validate.js"></script>
<script>
    new Vue({
        el:"#user_edit",
        data(){
            return {
                title:'用户信息修改',
                form: {
                    name:'',//用户名
                    sex:'1',//0表示女 1 表示男
                    idNumber:''//身份证号
                },
                image:'',//图片上传
                imageUrl:''
            }
        },
        computed:{},
        created(){
            this.initData()
        },

        mounted(){
        },
        methods:{
            goBack(){
                history.go(-1)
            },
            async initData(){
                const params = parseUrl(window.location.search)
                this.id = params.id

                 if(params.id){
                    this.title = '编辑用户信息'
                    const res = await userFindOneApi(this.id)
                    if(res.code === 1){
                        this.$notify({ type:'warning', message:"获取信息成功"});
                        this.form = res.data
                    }else{
                        this.$notify({ type:'warning', message:"获取信息失败"});
                    }
                }
            },
            async saveUser(st){
                let params = {...this.form}
                if(!params.name){
                    this.$notify({ type:'warning', message:'请输入用户姓名'});
                    return
                }

                const reg = /(^\d{15}$)|(^\d{18}$)|(^\d{17}(\d|X|x)$)/
                if(!reg.test(params.idNumber)){
                    this.$notify({ type:'warning', message:'身份证号码不合法'});
                    return
                }

                // if(!this.imageUrl){
                //     this.$message.error('请上传用户头像')
                //     return
                // }
                        params.sex = this.form ? 1 : 0
                        params.name = this.form.name
                        params.idNumber = this.form.idNumber
                        params.image = this.imageUrl
                            updateUserApi(params).then(res => {
                                if (res.code === 1) {
                                    this.$message.success('用户信息添加成功！')
                                    window.location.href= '/front/page/user.html'
                                    if (!st) {
                                        this.goBack()
                                    } else {
                                        this. form = {
                                                name:'',//用户名
                                                sex:'1',//0表示女 1 表示男
                                                idNumber:''//身份证号
                                        }
                                        image:'',//图片上传
                                        this.imageUrl = ''
                                    }
                                } else {
                                    this.$message.error(res.msg || '操作失败')
                                }
                            }).catch(err => {
                                this.$message.error('请求出错了：' + err)
                            })
            },
            //图片上传发送后端请求
            handleAvatarSuccess (response, file, fileList) {
                this.imageUrl = `/common/download?name=${response.data}`},
            beforeUpload (file) {
                if(file){
                    const suffix = file.name.split('.')[1]
                    const size = file.size / 1024 / 1024 < 2
                    if(['png','jpeg','jpg'].indexOf(suffix) < 0){
                        this.$message.error('上传图片只支持 png、jpeg、jpg 格式！')
                        this.$refs.upload.clearFiles()
                        return false
                    }
                    if(!size){
                        this.$message.error('上传文件大小不能超过 2MB!')
                        return false
                    }
                    return file
                }
            }
        }
    })
</script>
</body>
</html>
